data/*
!data/.gitkeep

output/
results/
*.png

*.csv
!frontend/data/*.csv

*.json
!data/capacity_IT.json
!frontend/data/*.json

net-zero-e-conomy-2050-report-eng-enel-2022090311.pdf
Alveare
.venv
.env
.ruff_cache
__pycache__
scratch.py